Aula sobre series, importação do numpy e do pandas e criação de 3 elementos sendo uma lista, um array e um dict.

In [2]:
import numpy as np
import pandas as pd

In [5]:
labels = ['a','b','c']
minha_lista = [10,20,30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 30}

Como transformar os elementos acima em series?

In [8]:
series = pd.Series(data=minha_lista, index=labels)

Muito parecido com um dicionário, o valor 10 está associado ao "a"

In [9]:
series['a']

10

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

Posso passar várias coisas e tipos como parâmetros, para provar vou passar funções do python

In [11]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
ser1 = pd.Series([1,2,3,4,5], index=["EUA", "Alemanhã","URSS", "Brasil", "Jamaica"])

In [13]:
ser1

EUA         1
Alemanhã    2
URSS        3
Brasil      4
Jamaica     5
dtype: int64

In [14]:
ser2 = pd.Series([1,2,3,4,5], index=["EUA", "Alemanhã","Italia", "Brasil", "Jamaica"])

In [15]:
ser2

EUA         1
Alemanhã    2
Italia      3
Brasil      4
Jamaica     5
dtype: int64

In [16]:
ser1 + ser2

Alemanhã     4.0
Brasil       8.0
EUA          2.0
Italia       NaN
Jamaica     10.0
URSS         NaN
dtype: float64

Por que Italia e URSS vieram com esse valor "NaN"? Por que a soma das series soma os valores no par de conjuntos da soma, como não tem URSS e Italia nos dois então a soma falha