<h1>DataFrame</h1>
<h3>Aqui você vai encontrar como criar um DataFrame, como pegar os dados de um DataFrame, como criar uma nova Linha/Coluna e por fim como localizar elementos em um DataFrame</h3>
<h4> - Dataframe é um conjunto de Series</h4>

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

<h2>O seed garante (?) que para qualquer outro computador, se passar o mesmo seed vai gerar os mesmos números "aleatórios"</h2>

In [6]:
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns = "W X Y Z".split())

In [7]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [9]:
df['W']

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

In [12]:
df[['X','Y']]

          X         Y
A  0.196800 -1.136645
B -0.156598 -0.031579
C -0.610259 -0.755325
D -0.479448  0.558769
E  1.862864 -1.133817

In [17]:
df.W

A   -0.993263
B    1.025984
C    2.154846
D    0.147027
E   -0.925874
Name: W, dtype: float64

<h2>Como criar uma nova coluna?? Assumindo que ele existe e passando os valores</h2>

In [15]:
df['new'] = df['W']+df['X']

In [16]:
df

          W         X         Y         Z       new
A -0.993263  0.196800 -1.136645  0.000366 -0.796464
B  1.025984 -0.156598 -0.031579  0.649826  0.869386
C  2.154846 -0.610259 -0.755325 -0.346419  1.544588
D  0.147027 -0.479448  0.558769  1.024810 -0.332421
E -0.925874  1.862864 -1.133817  0.610478  0.936990

Como excluir uma coluna??

In [19]:
df.drop('new', axis=1)

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

df

Veja que mesmo após dropar, quando printo o df a coluna "new" ainda tá ai, como arrrumar isso??

In [21]:
df = df.drop("new", axis=1)

In [22]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

ou

In [25]:
df['new'] = df['W']+df['X'] # Criando a coluna novamente para poder excluir
df.drop('new', axis=1, inplace=True)

In [26]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

Localização de elementos por índice

In [38]:
df.loc['A', 'W']

-0.993263499973366

<h1>Localizar dados no DataFrame</h1>

In [32]:
df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [34]:
df.loc[['A','B'], ['X','Y','Z']]

          X         Y         Z
A  0.196800 -1.136645  0.000366
B -0.156598 -0.031579  0.649826

In [36]:
df.iloc[1:4, 2:]

          Y         Z
B -0.031579  0.649826
C -0.755325 -0.346419
D  0.558769  1.024810